[submodule "third-party/lyric"]
	path = third-party/lyric
	url = https://github.com/music-lyric/music-lyric-model-cpp.git
	shallow = true
	branch = main
[submodule "third-party/skia"]
	path = third-party/skia
	url = https://github.com/google/skia.git
	branch = chrome/m150
	shallow = true
[submodule "third-party/glaze"]
	path = third-party/glaze
	url = https://github.com/stephenberry/glaze.git
